*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #469c9c;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
#edit{
  display: flex;
  flex-direction: column;
}
#editor {
  width: 40vw;
  height: 550px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
#prev{
  display: flex;
  flex-direction: column;
}

#edit h1,h2,h3,h4,h5,h6{
  border: none;
}
#prev h1,h2,h3,h4,h5,h6{
  border: none;
}
#preview {
  text-align: left;
  font-size: 18px;
  width: 50vw;
  min-height: 550px;
  background: #222;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  color: #fff;
  overflow-wrap: break-word;


}
img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
td,
th {
  border: 2px solid turquoise;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 90%;
  margin: 2rem auto;
}

h1,h2,h3,h4,h5,h6{
  border-bottom: 0.5px solid;
  text-align: center;
}
