*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #469c9c;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
#edit{
  display: flex;
  flex-direction: column;
}
#editor {
  width: 40vw;
  height: 540px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
}
#prev{
  display: flex;
  flex-direction: column;
}
#preview {
  text-align: left;
  font-size: 18px;
  width: 40vw;
  height: 540px;
  background: #222;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  color: #fff;

}
